h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: #282c34;
  color: #fff;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mapContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background: #4896fbed; */
}

.info{
  padding: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  background: rgba(0, 0, 0, .5);
  border-radius: 20px;
}